<!-- This page is the Community Posts. It shows every post there is in the databse.-->
{% extends "game_tracker/base.html" %}

{% block title %}Community{% endblock %}

{% block content %}
<h1 class="page_heading">
    Community
</h1>
{% for object in object_list %}
<section>
    <div>
        <h2>{{ object.post_title }}</h2>
        <p>Posted by: {{ object.user.username }}</p>
        <p>Game: {{ object.game.title }}</p>
        <p>Post type: {{ object.get_post_type_display }}</p>
        <p>Upload date: {{ object.date_added }}</p>
        {% if object.post_body %}
            <p>{{ object.post_body }}</p>
        {% endif %}
        {% if object.post_image %}
            <img src="{{ object.post_image.url }}">
        {% endif %}
    </div>
    <div>
        <div>
            <!--This post method was different than all of the other ones I had to do so far. It was tough to figure out.
            Since each post and comment gets written from a for loop, each post gets an assigned value automatically.
            I used this value to keep track of which post is which when creating comments and stuff.-->
            <form method="post">
                {% csrf_token %}
                <input type="hidden" id="post_id_{{ object.id }}" value="{{ object.id }}">
                <label for="post_comment_{{ object.id }}">Comment: </label>
                <input type="text" id="post_comment_{{ object.id }}" required>
                <button type="button" onclick="commentSubmitButtonListener({{ object.id }})">Reply</button> <!--This works but vscode does not like it. I think it is because django lnaguage, javascript, and html are all ebing used.-->
            </form>
            <!--<p>{{ object.id }}</p> This code was used for debugging purposes.-->
        </div>
        <div id="new-comments-section-{{ object.id }}">
            <!-- New comments will go here -->
        </div>
        <div>
            {% if object.comment.all %}
                {% for c in object.comment.all %}
                    <h3>{{ c.user.username }}</h3>
                    <p>{{ c.date_added }}</p>
                    <p>{{ c.post_body }}</p>
                {% endfor %}
            {% else %}
                <p>No comments yet. Be the first one to comment!</p>
            {% endif %}
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}