<!-- This page is the Community Posts. It shows every post there is in the databse.-->
{% extends "game_tracker/base.html" %}

{% block title %}Community{% endblock %}

{% block content %}
<div class="community-container">
<h1 class="page_heading">
    Community
</h1>
{% if user.is_authenticated %}
<section class="community-create-post">
    <div>
        <h2>Create a New Post</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="post_game">Game: </label><br>
            <select name="post_game" id="post_game" required>
                {% for game in games %}
                    <option value="{{ game.id }}">{{ game.title }}</option>
                {% endfor %}
              </select><br>
            <label for="post_title">Title: </label><br>
            <input type="text" id="post_title" name="post_title" required><br>
            <!--<label for="post_image">Image: </label><br>
            <input type="file" id="post_image" name="post_image"><br>-->
            <label for="post_body">Body: </label><br>
            <input type="text" id="post_body" name="post_body"><br>
            <label for="post_type">Post Type: </label><br>
            <select name="post_type" id="post_type" required>
                <option value="Art">Art</option>
                <option value="Img">Image</option>
                <option value="Dis">Discussion</option>
                <option value="Evt">Event</option>
                <option value="Gui">Guide</option>
                <option value="Ann">Announcement</option>
                <option value="Hel">Help</option>
                <option value="O">Other</option>
              </select><br>
            <button type="button" id="post-submit-btn" >Submit</button>
        </form>
    </div>
</section>
{% endif %}
<div id="new-posts-section">
    <!-- New posts will go here -->
</div>
{% for object in object_list %}
<section class="community-posts" id="post-section-{{ object.id }}"> <!-- creates a unique id so it can be easily deleted in CRUD.js -->
    <div>
        <div>
            <h2>{{ object.post_title }}</h2>
            {% if object.post_body %}
                <p>{{ object.post_body }}</p>
            {% endif %}
            {% if object.post_image %}
                <img class="post-image" src="{{ object.post_image.url }}">
            {% endif %}
            <p>Posted by: {{ object.user.username }}</p>
            <p>Game: {{ object.game.title }}</p>
            <p>Post type: {{ object.get_post_type_display }}</p>
            <p>Upload date: {{ object.date_added }}</p>
            <!-- Delte Post -->
            {% if user == object.user %}
            <form method="post">
                {% csrf_token %}
                <input hidden type="text" id="post_id" name="post_id" value="{{ object.post.id }}"><br>
                <!-- Since this is in a for loop, I can't use the buttom listener like I normally did. There would be more than one element with the same id. Thus I put it in the html-->
                <button type="button" onclick="postDeleteButtonListener({{ object.id }})">Delete</button> <!--This works but vscode does not like it. I think it is because django lnaguage, javascript, and html are all being used.-->
            </form>
            {% endif %}
        </div>
        <div>
            {% if user.is_authenticated %}
            <div>
                <!-- POST REPLIES FORM -->
                <!--This post method was different than all of the other ones I had to do so far. It was tough to figure out.
                Since each post and comment gets written from a for loop, each post gets an assigned value automatically.
                I used this value to keep track of which post is which when creating comments and stuff.-->
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" id="post_id_{{ object.id }}" value="{{ object.id }}">
                    <label for="post_comment_{{ object.id }}">Comment: </label>
                    <input type="text" id="post_comment_{{ object.id }}" required>
                    <button type="button" onclick="commentSubmitButtonListener({{ object.id }})">Reply</button> <!--This works but vscode does not like it. I think it is because django lnaguage, javascript, and html are all being used.-->
                </form>
                <!--<p>{{ object.id }}</p> This code was used for debugging purposes.-->
            </div>
            {% endif %}
            <div id="new-comments-section-{{ object.id }}">
                <!-- New comments will go here -->
            </div>
            <!-- REPLIES -->
            <div>
                {% if object.comment.all %}
                    {% for c in object.comment.all %}
                        <div class="community-comment-replies">
                            <h3 class="community-comment-replies-h3">{{ c.user.username }}</h3>
                            <p>{{ c.date_added }}</p>
                            <p>{{ c.post_body }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No comments yet. Be the first one to comment!</p>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
</section>
{% endfor %}
</div>
{% endblock %}