<!-- This page is for specific games. It will show of the games inforamtion and will show the users stats too.-->
{% extends "game_tracker/base.html" %}

{% block title %}{{ game.title }}{% endblock %}

{% block content %}
<h1 class="page_heading">
    {{game.title}}
</h1>
<img src="{{ game.game_cover_image.url }}" width="275" height="350">
<h2>
    Synopsis
</h2>
<p>{{game.synopsis}}</p>
<h2>
    Information:
</h2>
<p>Developer: {{game.developer}}</p>
<p>Publisher: {{game.publisher}}</p>
<p>Genre: {{game.genre}}</p>
<p>ESRB Rating: {{game.get_esrb_rating_display}}</p> <!--I found this interesting. Django automatically does its magic here to display the readable part of the coice. So "Teen" instead of "T"-->
<p>Release Date: {{game.release_date}}</p>
<p>Platform(s):</p>
<!--If the system selected is True, then it is shown-->
<ul>
    {% if game.playstation %}
    <li>Playstation</li>
    {% endif %}
    {% if game.xbox %}
    <li>Xbox</li>
    {% endif %}
    {% if game.nintendo %}
    <li>Nintendo</li>
    {% endif %}
    {% if game.pc %}
    <li>PC</li>
    {% endif %}
    {% if game.other %}
    <li>Other</li>
    {% endif %}
</ul>
<h2>
    Personal Stats
</h2>
{% if user_stats %}
    <h3>
        {{ user_stats.user.username }}'s Stats
    </h3>
    <p>Time Played: {{ user_stats.time_played }}</p>
    <p>First Played: {{ user_stats.date_first_played }}</p>
    <p>Last Played: {{ user_stats.date_last_played }}</p>
    <p>Date Beaten: {{ user_stats.date_beaten }}</p>
    <p>Status: {{ user_stats.get_status_display }}</p>
    <p>Rating: {{ user_stats.get_user_rating_display }}({{ user_stats.user_rating }})</p>
    <p>Percent Completed: {{ user_stats.progress_percentage }}</p>
    <p>Achievements: {{ user_stats.achievement_count }}</p>
    <p>Notes:{{ user_stats.notes }}</p>
{% else %}
    <p>No user stats available.</p>
{% endif %}
<h2>
    Reviews
</h2>
<!--reviews is from the context. If reviews exists shows them all. Else, display a 'no reviews' message.-->
{% if reviews %}
    {% for review in reviews %}
        <h3>{{ review.review_title }}</h3>
        <p>{{ review.review_body }}</p>
        <p><strong>Reviewed by:</strong> {{ review.user.username }}</p>
    {% endfor %}
{% else %}
    <p>No reviews yet for this game.</p>
{% endif %}

{% endblock %}